#left {
    float: left;
    height: 100%;
    width: 204px;
}

#content {
    padding: 0px;
    margin-left: 204px;
    height: 100%;
}

#contact_form{
    position: absolute;
    top: 50%;
    height: 426px;
    margin-top: -310px;
}

