#companyInformations, #servicesPopupBack, #activityPopupBack{
    display: none;
}

#adminLoginContainer > h1{
    margin-left: 15px;
}

#companyInformationsGrid, #clientOrdersGrid{
    margin-left: 5px;
}

#companyInformationsGrid tr, #clientOrdersGrid tr{
    background-color: transparent;
}

#companyInformationsGrid td, #clientOrdersGrid td{
    border-color: transparent;
}

#clientOrdersTableId td{
    border-right-width: 1px;
    border-right-color: rgb(128, 128, 128);
    border-right-style: solid;
}

#companyInformationsGrid label{
    width: 180px;
    text-align: right;
}

#companyInformationsGrid table, #clientOrdersDiv table{
    margin-left: 0px;
}

#clientOrdersDiv{
    margin-top: 25px;
}

#companyOrdersTable td{
    border-color: rgb(128, 128, 128);
}

input[type="checkbox"]{
    margin-left: 36px;
}

.deleteButtonForm{
    margin-bottom: 0px;
}

#clientOrdersGrid{
    float: left;
}

#servicesPopupBack, #activityPopupBack{
    width: 100%;
    height: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    display: none;
    position: fixed;			
    background-color: #313131;
    overflow:auto;
}

#servicesPopup, #activityPopup{
    position: absolute; 
    left: 50%;
    top: 17%;
    margin-left: -202px; 
}

#servicesForm, #activityForm{
    max-width: 500px;
    min-width: 250px;
    padding: 10px 30px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family:raleway;
    background-color: whitesmoke;
}

#servicesForm\:serviceOkButton, #activityForm\:activityOkButton{
    padding-left: 24.273px;
    padding-right: 24.273px;
}

#activityForm\:activityOkButton{
    margin-right: 5px;
}

#servicesForm h2, #activityForm h4{
    text-align: center;
}

#servicesForm table{
    margin-left: 0px;
    margin-bottom: 10px;
}

#servicesForm tr{
    background-color: whitesmoke;
    border-width: 0px;
}

#servicesForm td{
    border-width: 0px;
}

#servicesForm\:service_checkbox{
    vertical-align: middle;
}

#servicesForm\:service_checkbox{
    margin-left: 0px;
}

#clientOrderLabel{
    padding-left: 3px;
}

.ui-widget-content a{
    color: white;
}

#clientOrdersGrid th{
    text-align: center;
}

#agentForm\:agentOkButton{
    margin-right: 5px;
    width: 82px;
}

#activityForm\:activityList{
    margin-bottom: 10px;
}

#leftForm a{
    margin-bottom: 5px;
}

#clientOrdersForm\:clientOrdersTableId\:searchAllPanel{
    text-align: right;
}

#clientOrdersForm\:clientOrdersTableId\:globalFilter{
    width:150px;
}