#companyInformations{
    display: none;
}

#adminLoginContainer > h1{
    margin-left: 15px;
}

#companyInformationsGrid, #clientOrdersGrid{
    margin-left: 5px;
}

#companyInformationsGrid tr, #clientOrdersGrid tr{
    background-color: transparent;
}

#companyInformationsGrid td, #clientOrdersGrid td{
    border-color: transparent;
}

#companyInformationsGrid label, #clientOrdersGrid label{
    width: 230px;
    text-align: right;
}

#companyInformationsGrid table, #clientOrdersGrid table{
    margin-left: 0px;
}

#companyOrdersTable td{
    border-color: rgb(128, 128, 128);
}

input[type="checkbox"]{
    margin-left: 36px;
}

.deleteButtonForm{
    margin-bottom: 0px;
}

#clientOrdersGrid{
    float: left;
}

#clientOrdersTable .evenRows{
    background-color: transparent;
}

#clientOrdersTable .oddRows{
    background-color: white;
}