.home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home ul{
    list-style: none;
    width: 100%;
}

#firstLine, #secondLine{
    width: 100%;
}

.home li{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
}
